@charset "utf-8";

/** 清除内外边距 **/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

form,
fieldset,
legend,
button,
input,
textarea,

/* form elements 表单元素 */

th,
td
/* table elements 表格元素 */

{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

/*
 * 完美轻拂动
 */
.clearfix:after{
	clear: both;
	display: block;
	content: '';
}

/*
 * IE6兼容问题的清除浮动
 */
.clearfix{
	zoom: 1;
}

/*
 * 左浮动
 */
.fl{
	float: left;
}

/*
 * 有浮动
 */
.fr{
	float: right;
}

/*
 * 安全距离，容器
 */

.container{
	width:100%;
	background: #eeeeee;
	/*padding:30px 60px 65px 30px;*/
}
.content{
	width:780px;
	background: #ffffff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius: 8px;
	margin: 30px auto;
}
b,strong{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body,html{
	background: #eeeeee;
	height: 100%;
}