*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.clearfix{
	clear: both;
	display: block;
	content: '';
}
.clearfix:after{
	zoom: 1;
}

.login{
	background: url(../images/login-bg.jpg) no-repeat;
	width: 1080px;
	height: 750px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	box-shadow: 0 0 10px #ccc;
	/*behavior: url(js/pie.htc);
	-moz-border-radius:50px;
    -webkit-border-radius:50px;
	border-radius: 50px;*/
}
.login .content{
	width: 780px;
	height: 442px;
	/*behavior: url(js/pie.htc);*/
	-moz-border-radius:10px;
    -webkit-border-radius:10px;
	border-radius: 10px;
	background: rgba(69,152,205,0.8);
	/*filter: alpha(opacity=80);
	opacity: 0.8;
	zoom: 1;*/
	margin: 80px auto;
	padding: 148px 90px 0;
}
.login .content .content-left{
	width: 379px;
	float: left;
}
.login .content .content-left .logo{
	text-align: center;
	width: 312px;
	margin-left: 10px;
	margin-top: 40px;
}
.login .content .content-left .logo img{
	width: 140px;
	height: 140px;
}
.login .content .content-left .logo p{
	color: #fff;
	font-size: 24px;
	margin-top: 20px;
}
.login .content .shu{
	width: 2px;
	height: 100px;
	background: #fff;
	margin-top: 86px;
	float: left;
}
.login .content .content-right{
	width: 399px;
	float: right;
}
.login .content .content-right .login-form{
	width: 380px;
	margin-left: 65px;
}
.login .content .content-right .login-form h2{
	font-weight: normal;
	color: #fff;
	font-size: 22px;
}
.login .content .content-right .login-form span{
	color: #fff;
	font-size: 20px;
}
.login .content .content-right .login-form div.code input{
	width: 110px;
	height: 35px;
}

.login .content .content-right .login-form .identifire,
.login .content .content-right .login-form .account,
.login .content .content-right .login-form .password,
.login .content .content-right .login-form .code{
	margin-top: 20px;
	height: 35px;
}
.login .content .content-right .login-form .identifire span,
.login .content .content-right .login-form .account span,
.login .content .content-right .login-form .password span,
.login .content .content-right .login-form .code span{
	display: inline-block;
	height: 35px;
	line-height: 35px;
	float: left;
}
.login .content .content-right .login-form div input{
	width: 240px;
	height: 35px;
	line-height: 35px;
	float: left;
	outline: none;
	border: none;
	/*behavior: url(js/pie.htc);*/
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
	border-radius: 5px;
}
.login .content .content-right .login-form .code em{
	display: inline-block;
	float: left;
	width: 125px;
	height: 35px;
	background: #fff;
	margin-left: 5px;
	box-sizing: border-box;
	cursor: pointer;
}
.login .content .content-right .login-form .btn{
	width: 240px;
	height: 30px;
	margin-top: 29px;
	margin-left: 150px;
}
.login .content .content-right .login-form .btn span{
	display: block;
	width: 150px;
	height: 100%;
	line-height: 30px;
	text-align: center;
	background: #4fadeb;
	font-size: 18px;
	cursor: pointer;
	float: left;
	/*behavior: url(js/pie.htc);*/
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
	border-radius: 5px;
}
.login .content .content-right .login-form .btn span a{
	font-size: 18px;
	color: #fff;
}
