
	.wrap{
			width: 730px;
			margin: 0 auto;
		}
		.school-msg{
			width: 780px;
			background: #fff;
			border-radius: 8px;
			margin: 30px auto;
			padding: 30px 0;
		}
		.school-msg .pos-set{
			font-size: 14px;
			color: #666;
		}
		.school-msg .pos-set p{
			text-align: right;
		}
		.school-msg .pos-set p span{
			font-size: 16px;
			color: #666;
			cursor: pointer;
		}
		.school-msg .basics-msg{
			height: 40px;
			background: #e6f2f2;
			margin-top: 10px;
			line-height: 40px;
		}
		.school-msg .basics-msg p{
			height: 30px;
			line-height: 30px;
			font-size: 16px;
			color: #333;
			border-left: 4px solid #0e8384;
			padding-left: 22px;
			display: inline-block;
		}
		.school-msg .basics-list{
			padding-top: 30px;
			padding-left: 22px;
		}
		.school-msg .basics-list li{
			width: 365px;
			height: 28px;
			line-height: 28px;
			color: #666;
			color: 16px;
			list-style: none;
			margin-bottom: 30px;
			float: left;
		}
		.school-msg .basics-list li input{
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
			padding: 0 10px;
		}
		.school-msg .basics-list li .inp-border{
			width: 178px;
			height: 28px;
			border: 1px solid #ccc;
			border-radius: 2px;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
		}