
.container .information-content{
    font-size: 17px;
    color: #666;
}
.container .content .information-title{
    width: 100%;
    font-size: 16px;
    height: 75px;
    line-height: 75px;
    margin-left:30px;
    position: relative;
    color:#666;
}
.container .content .information-title .fac-information{
    position: absolute;
    left:636px ;
    top:20px;
}
.container .content .revise-content{
    width:244px;
    margin: 0 auto;
    margin-top: 102px;

}
.container .content .revise-content .list{
    color: #666;
    margin-bottom: 30px;
}
.container .content .revise-content .list input{
    width:140px ;
    height:28px;
    border:1px solid #ccc;
    color: #666;
    outline: none;
    padding-left: 8px;
}
.container .content .list1{
     width: 100px;
     height: 30px;
     border-radius: 6px;
     margin-left: 362px;
    padding-bottom: 418px;

}
.container .content .list1 input{
    width: 100%;
    height: 100%;
    line-height: 30px;
    background: #177ec1;
    outline: none;
    border:none;
    color: #fff;
    font-size: 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius:3px;
}
